<h3>Sort Translations By:</h3>
<%= form_with(url: restaurant_translations_path(@restaurant), method: "get", local: true) do %>
    
    <%= select_tag(:order_by, options_for_select([["Rating", "average_rating"], ["Number of Dishes", "number_of_dishes"], ["Date Posted", "created_at"]])) %>
    
    <%= submit_tag "Sort" %>
<% end %>