<% if @user == current_user %>

    <h1>Welcome <%= @user.name %> </h1>

<% else%>

<h1>Profile for <%= @user.name %> </h1>

<% end %>
<%= render partial: "translations/index", locals: {translations: @user.top_rated_translations(3)} %>

<%= render partial: "orders/index", locals: {orders: @user.most_recent_orders(3)} %>