<% dishes.each do |dish| %>
    <div class="dish-preview">
        <%= cl_image_tag dish.image.key, width: 100 if dish.image.attached? %>
        <div class="dish-preview-info">
            <h4 lang="zh"><%= dish.chinese_name %></h4>
            <p><%= link_to non_chinese_names(dish), dish_path(dish) %></p>
            <p> <%= dish.description %> </p>
        </div>
    </div>
<% end %>
