<p id="notice"><%= notice %></p>
<h1>Choose a Restaurant</h1>
<ul>
<% @restaurants.each do |r| %>
<li> <%= link_to  "#{r.chinese_name} - #{r.pinyin_name} - #{r.translated_name}", restaurant_path(r) %> <p>Number of menu translations: </p></li>
<% end %>
</ul>