
<%= render  "show" %>

<%= render  partial: "translations/index", locals: {translations: @restaurant.top_rated_translations(3) } %>

<%= link_to  "View All Tranlations", restaurant_translations_path(@restaurant) %>

<h3>Orders: </h3>
<%= render  partial: "orders/index", locals: {orders: @restaurant.most_recent_orders(3)} %>


