/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 
.field_with_errors {
    padding: 2px;
    background-color: indianred;
    display: table;
  }
#error_explanation {
  color: indianred;
  font-weight: bold;
}

#notice {
    color: green; }


div.alert {
  color: indianred;
  font-weight: bold;
}
.logo {
  width: 200px;
  
}
nav {
  display: grid; 
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
  align-items: center;
}

nav.top-nav {
  display: grid; 
  grid-template-columns: 220px 1fr;
  grid-gap: 5px;
  align-items: center;
}
.user-links {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 5px
}
@media (max-width: 600px) {
  nav.top-nav {
    grid-template-columns: 100px 1fr;
  }
  img.logo {
    width: 100%
  }
}
@media (max-width: 400px) {
  nav.top-nav {
    grid-template-columns: 1fr 1fr;
  }
}



a, button, input#submit, input.border-button {
  display: inline-block;
  border: solid;
  padding: 1rem 1rem;
  margin: 0;
  text-decoration: none;
  background: none;
  color: black;
  font-family: aleoLight;
  font-size: 1rem;
  line-height: 1;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}


nav a {
  font-size: 20px;  
}


:lang(zh) {
  font-family: maShanZheng-regular;
}

.home-content {
  text-align: center;
}

