// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.comment-content {
    border: 5px solid rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 10px;
}