// Place all the styles related to the Restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@font-face {
    font-family: aleoLight;
    src:font-url('Aleo-Light.ttf')
  }

  @font-face {
    font-family: maShanZheng-regular;
    src:font-url('MaShanZheng-Regular.ttf')
  }

  main {
    width: 500px;
    margin: auto;
  }

  div.translation-item {
    border: solid;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1 fr);
  }