// Place all the styles related to the Restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@font-face {
    font-family: aleoLight;
    src:font-url('Aleo-Light.ttf')
  }

  @font-face {
    font-family: maShanZheng-regular;
    src:font-url('MaShanZheng-Regular.ttf')
  }

  body {
    font-family: aleoLight;
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
  }

  main {
    grid-column: 2;
    width: 100%;
    justify-content: center;
  }

  div.translation-item, div.order-item {
    border: solid;
    display: grid;
    
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    
  }

  div.order-info {
    grid-row: span 2;
  }