// Place all the styles related to the Restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@font-face {
    font-family: aleoLight;
    src:font-url('Aleo-Light.ttf')
  }

  @font-face {
    font-family: maShanZheng-regular;
    src:font-url('MaShanZheng-Regular.ttf')
  }

  body {
    font-family: aleoLight;
    background-image: url(dimsum_table.jpg);
    // height: 1000px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr minmax(350px, 8fr) 1fr;
  }
 
 
  main {
    grid-column: 2;
    width: 100%;
    justify-content: center;
    background: rgba(255, 255, 255, 0.9); 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 20px
  }

  div.translation-item, div.order-item {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  div.order-info {
    grid-row: span 2;
  }

  .restaurant-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .restaurant-item {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
  .restaurant-index-options {
    text-align: center;
    // not working
    grid-column: 1 / -1;
  }

  .image-name {
    position: relative;
  }
  
  /* Bottom right text */
  h2.name {
    position: absolute;
    top: 20px;
    left: 20px;
    background: rgba(255, 255, 255, 0.9); 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding-left: 20px;
    padding-right: 20px;
  }