// Place all the styles related to the Translations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.dish-list {
    // text-align: center;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 1;
    justify-content: center;
    align-content: center;
}

.comment-list {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 1;
    justify-content: center;
    align-content: center;
}