<div class="home-content">
    <h1>Welcome to BigBelly Menu Translations - <span lang="zh">欢迎使用大胃菜单助手</span></h1>


    <h2>Learn Chinese by eating.  Thats the best way.</h2>

    <h3>
    but Chinese menus are so confusing....
    </h3>
    <br>
    <h3>
    Learn from other Chinese learners and share your own translations.
    </h3>
</div>